*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    
}
.flecha-reg{
    position: relative;
    bottom: 300px;
    z-index: 10;
    margin-left: 20px;
    margin-top: 15px;
}



/*contenedores*/  
.Contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container1{
  position:relative;
  bottom: 150px;
  left: 500px;
  border-radius: 10px;
  box-shadow: 1px 1px 20px 1px #e9e8e8;
  padding: 8px;
  margin-left: 15px;
  margin-right: 10px;
  width: 800px;
  z-index: 5;
  background-color: white;
 
}
.imagen{
    position: relative;
    width: 1830px; 
    height: 300px; 
    z-index: 5;
}
.container2{
    position: relative;
    width: 800px;
    margin-left: 15px;
    margin-right: 15px;
    left: 480px;
    bottom: 100px;
}
.text{
    text-align: justify;
    max-height: 100px;
    overflow: hidden;  
    position: relative; 
}
.text p{
    margin-bottom: 20px;
}
.read-more{
    position: absolute;

    width: 100%;
    text-align: justify;
    padding: 10px 0;
    background: linear-gradient(to top, #fff, transparent);
    cursor: pointer;
    
}
.read-more:hover{
    background: linear-gradient(to top, #eee, transparent);
    max-height: 200px;
}
iframe{
    border-radius: 10px;
    margin-left: 80px;
    margin-bottom: 75px;
    
}
.container3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;      
    bottom: 10px;          
    right: 20px;        
    width: 1500px;         
    padding: 15px;
    background-color: #f0f0f0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;  
    left: 200px;
    
}




@media (max-width: 768px) {
    .container1{
        width: 350px;
        left: 50px;
        bottom: 150px;
    }
    .imagen{
        position: relative;
        width: 500px; 
        height: 300px; 
        
    }
    .container2{
        position: relative;    
        left: 40px;
        width: 400px;
    }
    iframe{
        position: relative;
        right: 70px ;
        width: 360px;
        height: 300px;
        margin-bottom: 60px;

    }
    .container3{
        width: 400px;
        left: 20px;
    }
    .start-cont{
      margin-top: 30px;
    }
   
    
  
    
}
