*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    
}
.flecha-reg{
    position: relative;
    bottom: 300px;
    z-index: 10;
    margin-left: 20px;
    margin-top: 15px;
}

/* Boton con contenedor emergente 

.ticket-button:focus {
    outline: none;
    border: 0.0625rem solid transparent;
    box-shadow: 0 0 0 0.125rem #fff, 0 0 0 0.2rem var(--dark-color-bg);
  }
  
  .ticket-button.cta {
    background-color: var(--cta-color);
    color: white;
  }
  
  .ticket-button.cta:focus {
    box-shadow: 0 0 0 0.125rem #fff, 0 0 0 0.2rem var(--cta-color);
  }
  
  #ticket-button{
    margin: 0 auto;
  }
  
  dialog {
    border: none !important;
    border-radius: calc(5px * var(--ratio));
    box-shadow: 0 0 #0000, 0 0 #0000, 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    padding: 1.6rem;
    max-width: 400px;
  }
  
  dialog img {
    display: block;
    max-width: 75%;
    margin: 1rem 0 auto 2rem;
  }
  
  .h1 {
    margin: 2rem 0 1rem;
    font-weight: 900;
  }
  
  .h2 {
    margin: 2rem 0 1rem;
    font-weight: 800;
  }
  .flex {
    display: flex;
    flex-wrap: wrap;
  }
  
  .flex.flex-space-between {
    justify-content: space-between;
  }
  
  .flex button {
    margin: 8px auto;
  }
*/
/*contenedores*/  
.Contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container1{
  position:absolute;
  bottom: 400px;
  left: 500px;
  border-radius: 10px;
  box-shadow: 1px 1px 20px 1px #e9e8e8;
  padding: 8px;
  margin-left: 15px;
  margin-right: 10px;
  width: 800px;
  z-index: 5;
  background-color: white;
 
}
.imagen{
    position: relative;
    width: 1730px; 
    height: 300px; 
    z-index: 5;
}
.container2{
    position: relative;
    width: 800px;
    margin-left: 15px;
    margin-right: 15px;
    top: 100px;
    left: 480px;
}
.text{
    text-align: justify;
    max-height: 100px;
    overflow: hidden;  
    position: relative; 
}
.text p{
    margin-bottom: 20px;
}
.read-more{
    position: absolute;

    width: 100%;
    text-align: justify;
    padding: 10px 0;
    background: linear-gradient(to top, #fff, transparent);
    cursor: pointer;
    
}
.read-more:hover{
    background: linear-gradient(to top, #eee, transparent);
    max-height: 200px;
}
iframe{
    border-radius: 10px;
    margin-left: 80px;
    margin-bottom: 75px;
    
}
.container3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;      
    bottom: 10px;          
    right: 20px;        
    width: 1500px;         
    padding: 15px;
    background-color: #f0f0f0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;  
    left: 250px;
    
}

.ticket-button{
    background-color: blueviolet;
    border: 0;
    border-radius: 15px;
    padding: 10px;
    text-decoration: none;
    color: white;
}

.ticket-button:hover{
    background-color: #441372;
    color: aliceblue;
    transform: scale(1.05); 
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);

}

.container3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;       
    bottom: 10px;          
    right: 20px;           
    width: 1250px;          
    padding: 15px;
    background-color: #f0f0f0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
    z-index: 1000;  
    
}


@media (max-width: 768px) {
    .container1{
        width: 350px;
        left: 50px;
        bottom: 450px;
    }
    .imagen{
        position: relative;
        width: 500px; 
        height: 300px; 
        
    }
    .container2{
        position: relative;
        top: 90px;
        left: 40px;
        width: 400px;
    }
    iframe{
        position: relative;
        right: 70px ;
        width: 360px;
        height: 300px;
        margin-bottom: 60px;

    }
    .container3{
        width: 440px;
        left: 20px;
    }
}
