*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
.Contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container1{
  position:absolute;
  bottom: 250px;
  left: 280px;
  border-radius: 10px;
  box-shadow: 1px 1px 20px 1px rgb(184, 184, 184);
  padding: 8px;
  margin-left: 15px;
  margin-right: 10px;
  width: 800px;
  z-index: 10;
  background-color: white;
    
}
.imagen{
    position: relative;
    width: 1350px; 
    height: 300px; 
    z-index: 5;
}
.container2{
    position: relative;
    width: 800px;
    margin-left: 15px;
    margin-right: 15px;
    top: 190px;
    left: 280px;
}
.text{
    text-align: justify;
}
iframe{
    border-radius: 10px;
    margin-left: 80px;
    margin-bottom: 75px;
    
}
.container3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;      
    bottom: 10px;          
    right: 20px;        
    width: 1250px;         
    padding: 15px;
    background-color: #f0f0f0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;  
    
}

a{
    background-color: blueviolet;
    border: 0;
    border-radius: 15px;
    padding: 10px;
    text-decoration: none;
    color: white;
}

a:hover{
    background-color: #441372;
    color: aliceblue;
    transform: scale(1.05); 
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);

}

.container3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;       
    bottom: 10px;          
    right: 20px;           
    width: 1250px;          
    padding: 15px;
    background-color: #f0f0f0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
    z-index: 1000;  
    
}




@media (max-width: 768px) {
    .container1{
        width: 300px;
        left: 70px;
        bottom: 450px;
    }
    .imagen{
        position: relative;
        width: 500px; 
        height: 300px; 
        
    }
    .container2{
        position: relative;
        top: 90px;
        left: 40px;
        width: 400px;
    }
    iframe{
        position: relative;
        right: 70px ;
        width: 360px;
        height: 300px;
        margin-bottom: 60px;

    }
    .container3{
        width: 430px;
    }
}
