*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container1{
  position:absolute;
  bottom: 250px;
  left: 280px;
  border-radius: 10px;
  box-shadow: 1px 1px 20px 1px rgb(184, 184, 184);
  padding: 8px;
  margin-left: 15px;
  margin-right: 10px;
  width: 800px;
  z-index: 10;
  background-color: white;
    
}
.imagen{
    position: relative;
    width: 1350px; 
    height: 300px; 
    z-index: 5;
}
.container2{
    position: relative;
    width: 800px;
    margin-left: 15px;
    margin-right: 15px;
    top: 190px;
    left: 280px;
}
.text{
    text-align: justify;
}
iframe{
    border-radius: 10px;
    margin-left: 80px;
    
}
.container3{
    display: flex;
    flex-direction: row;
    width: 800px;
    margin-left: 15px;
    margin-right: 15px;
    top: 110px;
    left: 280px;
    
}

footer{
    margin-top: 20px;
    position: fixed;
    background-color: white;
    width: 1350;
}


@media (max-width: 768px) {
    .container1{
        width: 300px;
        left: 25px;
        bottom: 300px;
    }
    .imagen{
        position: relative;
        width: 400px; 
        height: 300px; 
        
    }
    .container2{
        position: relative;
        top: 60px;
        left: 20px;
        width: 320px;
    }
    iframe{
        position: relative;
        right: 70px ;
        width: 300px;
        height: 300px;

    }
}
