*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}
.tittle_princ{
    margin-left: 20px;
    width: 500px;
    padding: 0;
}
.tittle1{

    font-size: 50px;
    margin-top: 0;
}
.tittle2{

    color: purple;
    font-size: 50px;
    margin-top: 0;
}
 /*Icono de Notificacion*/
.icono_not{
    margin: 15px;
    display: flex;
    align-self: flex-start;
    justify-content: space-between;
}
.icon-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color: #333333;
    border: none;
    outline: none;
    border-radius: 50%;
  }
  
  .icon-button:hover {
    cursor: pointer;
  }
  
  .icon-button:active {
    background: #cccccc;
  }
  
  .icon-button__badge {
    position: absolute;
    top: -5px;
    right: -4px;
    width: 15px;
    height: 15px;
    background: red;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }



  